<div class="navwrapper">
    <a href="/" class="navbar">PhotoApp</a>
    <a href="/postimage" class="posty" id="posty">POST</a>

    {{#if logged }}
    <a href="../users/logout" class="login" id="logout-button">LOG OUT</a>

    {{else}}
    <a href="/login" class="login" id="login">LOG IN</a>

    {{/if}}

    <form class="search" id="search" action="/posts/search" method="GET" enctype="application/x-www-form-urlencoded">
        <input id="search-text" type="text" placeholder="Search.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
</div>