
        <div class = "navwrapper">
            <a href="/homepage" class="navbar">LOGO</a>
            <a href="/postimage" class="posty" id="posty">POST</a>

            {{#if logged }}
                <a href="/users/logout" class="login" id="logout-button">LOG OUT</a>

            {{else}}
                <a href="/login" class="login" id="login">LOG IN</a>

            {{/if}}
            <a href="/home" class ="explore" id="explore">Explore</a>
            <input class="search" id="search" type="text" placeholder="Search..">
            <i id="search-button" class="search-button"></i>
        </div>