
    <head><meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, inital-scale=1.0">
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="../public/css/csshome.css">
        <link rel="stylesheet" type="text/css" href="../public/css/homepage.css">
        <link rel="stylesheet" type="text/css" href="../public/css/format.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script defer type="text/javascript" src="../public/js/jshome.js"></script>
        <script defer type="text/javascript" src="../public/js/javascript.js"></script>
    </head>
  <body>
    <div class="container">
      {{>banner}}
      {{#if (emptyObject messages)}}
      {{> flashmessage}}
      {{/if}}
      {{{body}}}
      {{>footer}}
    </div>

    {{#if logged}}
      <script>
        let ele = document.getElementById("logout-button");
        if (ele){
          ele.onclick = (even) => {
            fetch('/users/logout', {
              method: "POST",

            })
            .then((data) => {
              location.replace('/homepage')
            })
          }
        }
      </script>
    {{/if}}
  </body>

