
    <head><meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, inital-scale=1.0">
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="../public/css/csshome.css">
        <link rel="stylesheet" type="text/css" href="../public/css/homepage.css">
        <script defer type="text/javascript" src="../public/js/jshome.js"></script>
    </head>
  <body>
    <div class="container">
      {{>banner}}
      {{{body}}}
      {{>footer}}
    </div>
  </body>

