<!DOCTYPE html>
<html lang="en">
    <head><meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, inital-scale=1.0">
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="../css/csshome.css">
        <script defer type="text/javascript" src="../js/jshome.js"></script>
    </head>
    
    <body>
        
        <h1 id = "items-count">
        </h1>
        <div id = "container" class = "container">
            
        </div>
    </body>

</html>