<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, inital-scale=1.0">
        <title>Front Page</title>
        <link rel="stylesheet" type="text/css" href="../public/css/homepage.css">
    </head>
    <nav>
        <div class = "navwrapper">
            <a href=homepage.html class="navbar">LOGO</a>
            <a href="postimage.html" class="posty">POST</a>
            <a href="/login" class="login">LOG IN</a>
            <a href="home.html" class ="explore">Explore</a>
            <input class="search" type="text" placeholder="Search..">

        </div>
    </nav>
</html>