<!DOCTYPE html>
<html lang="en">
    <head><meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, inital-scale=1.0">
        <title>Imagepost</title>
        <link rel="stylesheet" type="text/css" href="../css/format">
    </head>
    
    <body class=grid-image-post>
        <div class="head">Post title</div>
        <div class="footer">Post author</div>
        <div class="time">Post time</div>
        <img src="https://fakeimg.pl/300x300/" class="picture">
        <div class="sidebar">Post description</div>
    </body>
</html>