

        <body class="grid-container">
            <form class="form" method="POST" action ="/users/login" enctype="application/x-www-form-urlencoded">
                <div class="form-control">
                    <label for="Username" class="info">Username</label>
                    </br>
                    <input type ="text" name="username" placeholder="Type Username" class="userInput" name="username" required>
                </div>
                <div class="form-control">
                    <label for="Password" class="info">Password</label>
                    </br>
                    <input type ="password" name="password" placeholder="Type Password" class="userInput" name="password" required>
                </div>
                <div>
                    <input type="submit" value="Submit" class="submit">
                    <input type="reset" value="Clear" class="clear">
                </div>
                <div>
                    <a href="/registration" class = "create">Create Account</a> 
                </div>
            </form>
        </body>
   

