
   
        <body class = "grid-container">
            <form class="form" method="POST" enctype="multipart/form-data" action='/posts/createPost'>
                <div class="form-control">
                    <label class="title" for="title">Title</label>
                    </br>
                    <input class="titlebox" id = "fadedblue" placeholder="Type Title" type="text" name="title">

                </div>
                <div class="form-control" >
                    <label class="desc" for="desc">Description</label>
                    <br/>
                    <input class="descbox" id="fadedblue" placeholder="Type Caption" type="text" name="description">
                    
                </div>
                <div class="form-control">
                    <label class="image" for="image">Post Image</label>
                    <br/>
                    <input class="imagebox" id="fadedblue" type="file" name="uploadImage">
                </div>
                <div class="form-control-button">
                    <label class="TOS" for="tos">Acceptable Use Policy</label>
                    <input class="contents6" id="fadedblue" type="checkbox" required>
                </div>
                <input type="submit" value="Submit" class="submit">    
                <input type="reset" value="Clear" class="clear">
            </form>
        </body>
    
