<!DOCTYPE html>
<html lang="en">
    <head><meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, inital-scale=1.0">
        <title>postImage</title>
        <link rel="stylesheet" type="text/css" href="../css/format">

    </head>
    <a href="#postimage"><h2 id="faded">Post an Image</h2></a>
    <form id="postimage">
        <fieldset class="post-image-grid">
            <label class="title" for="title">Post Title</label>
            <input class="titlebox" id="fadedblue" placeholder="Type Title of Post" type="text">
            <br/>
            <label class="desc" for="desc">Description</label>
            <input class="descbox" id="fadedblue" placeholder="Type Caption" type="text">
            <br/>
            <label class="image" for="image">Post Image</label>
            <input class="imagebox" id="fadedblue" type="file">
            <br/>
            <label class="TOS" for="tos">Acceptable Use Policy</label>
            <input class="contents6" id="fadedblue" type="checkbox" required>
        </fieldset>
        <input type="submit" value="Submit" class="submit">
        <input type="reset" value="Clear" class="clear">
    </form>
</html>