*{
  margin: 0;
  padding: 0;
}

.container{
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: .5fr 4fr .2fr;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
  "logo logo logo" 
  "content content content"
  "footer footer footer";
}
.navwrapper {
  background-color: pink;
  margin: 0;
  grid-area: logo;
  display: grid;
  grid-template-columns: 1fr .3fr .3fr .3fr .4fr;
  grid-template-areas: "logo login post explore search";
  width: 100%;
  column-gap: 10px;
  }
  
.navwrapper a{
  color: black;
  text-align: center;
  padding: 14px 16px;
  
  }
.navbar{
    font-size: 100px;
    align-items: center;
    grid-area: logo;
    margin: 10px;
}
.posty{
  text-align: right;
  font-size: 20px;
  justify-content: right;
  border-top-width: 10px;
  border: 1px solid black;
  line-height:20px;
  grid-area: post;
  position: relative;
  margin: 73px 20px;
  width: fit-content;
  height: 20px;
}
.login{
  font-size: 20px;
  border: 1px solid black;
  line-height:20px;
  grid-area: login;
  position: relative;
  margin: 73px 10px;
  justify-content: right;
  text-align:right;
  width: fit-content;
  height: 20px;
}
.explore{
  justify-content: right;
  font-size: 20px;
  border: 1px solid black;
  line-height:20px;
  grid-area: explore;
  margin-left: auto;
  margin: 73px 10px;
  position: relative;
  width: fit-content;
  height: 20px;
}

.search{
  justify-content: right;  
  padding: 10px 16px 10px;
  height: 27px;
  line-height:20px;
  margin: 75px 20px;
  font-size: 20px;
  grid-area: search;
  position: relative;
  width: 20rem;
}


form.search input[type=text] {
  justify-content: left;
  font-size: 20px;
  width: 80%;
  background: #f1f1f1;
}

form.search button {
  float: right;
  width: 20%;
  height: 100%;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  cursor: pointer;
}

form.search button:hover {
  background: #0b7dda;
}



/*This is the Login css*/

.grid-container {
  background-color: skyblue;
  display: grid;
  grid-area: content;
  justify-items: center;
  align-items: center;
  position:relative;
  min-height: 100vh;
  width: 100%;
  margin: 0;
}

.form {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  width: 30rem;
  margin-top: 20px;
  margin-inline-start: auto;
  margin-left: 27rem;
  align-items: center;
  display: block;
  height: 75%;
  max-height: fit-content;
  padding-bottom: 20px;
  position: relative;
  border: 1px solid black;
}
.create{
  display: flexbox;
  flex-direction: column;
  position: relative;
  margin: 10px;
}
.form-control{
  display: block;
  font-size: 14px;
  font-family: inherit;
  padding: 10px;
  margin: 10px;
  width: 80%;
}
.form-control-button{
  margin: 10px;
  padding-bottom: 20px;
  position: relative;
}













/*Submit stuff*/
.submit{
  display: flex;
  background-color: #87CEFA;
  color: black;
  transition: all 200ms ease-out;
  width: 250px;
  height: 50px;
  margin: 10px;
}
.submit:hover{
  background-color: white;
  color: black;
  border: 2px solid #87CEFA;
}

.clear{
  display: flex;
  background-color: lightCoral;
  color: black;
  transition: all 200ms ease-out;
  width: 250px;
  height: 50px;
  margin: 10px;
}
.clear:hover{
  background-color:white;
  color:black;
  border:2px solid lightCoral;
}

#faded{
  height:70px;
  width:500px;
  line-height:70px;
  text-align:center;
  border:2px solid #ddd;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  transition: all 200ms ease-out;
  background-color: rgba(0,200,200,0.4)
  
}
#faded:hover{
  box-shadow: 0 0 5px rgba(30,30,278,1);

}
#fadedblue{
  box-shadow:0 0 0 1px rgba(0,0,0,0.2);
  transition: all 200ms ease-out;
}
#fadedblue:hover{
  box-shadow:0 0 5px rgba(60, 50, 200, 1);
}



/* footer */

.footer{
  grid-area: footer;
  background-color: pink;
}